# Dodatkowe Obliczenia

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
recession_data_1 = pd.read_pickle("recession_data_1.pkl")

### Sprawdzenie kraju który w 2009 miał GDP growth większe od 20

In [3]:
recession_data_1[ recession_data_1['2009'] >= 20]

,Country Name,Region Name,Income Group,2006,2007,2008,2009,2010,2011
Country Code,,,,,,,,,
AFG,Afghanistan,Asia,Low,5.357403,13.82632,3.924984,21.390528,14.362441,0.426355

### Porównanie grup dochodowych z pozytywnym GDP w 2009 roku

In [4]:
recession_data_1[ recession_data_1['2009'] > 0].groupby('Income Group')[['2009']].agg( ['min', 'max', 'count', 'mean'])

                  2009
                   min        max count      mean
Income Group
High          0.127953  11.956561    12  2.525451
Low           0.086697  21.390528    39  5.529980
Lower middle  0.476898  11.637289    36  4.394990
Upper middle  0.130331  10.232156    15  2.195922